.audiobody{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 2em;
}

.row{
    justify-content: center;
}

.btnSize{
    width: 100%;
}

.btn {
    margin: 1em;
}

.res {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 2em;
}