*,*::after, *::before {
    Box-sizing: border-box;
}

.wordleBody {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 1em;
    font-size: clamp(.5rem, 2.5vmin, 1.5rem);
}

.keyboard{
    display: grid;
    grid-template-columns: repeat(20, minmax(auto, 1.25em));
    grid-auto-rows: 3em;
    gap: .25em;
    justify-content: center;
}

.key{
    grid-column: span 2;
    justify-content: center;
    align-items: center;
    background-color: hsl(
        var(--hue,200), 
        var(--saturation, 1%), 
        calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
        );
    font-size: inherit;
    border: none;
    padding: 0;
    color: white;
    fill: white;
    text-transform: uppercase;
    border-radius: .5em;
    cursor: pointer;
    user-select: none;
    box-shadow: 4px 2px 2px black;
}

.key:hover, .key:focus {
    --lightness-offset: 5%;
}

.key.incorrect{
    --lightness: 23%;
}

.key.incorrect_placement{
    --hue: 49;
    --saturation: 51%;
    --lightness: 47%;
}

.key.correct{
    --hue: 115;
    --saturation: 29%;
    --lightness: 43%;
}

.key.large{
    grid-column: span 3;
}

.key > svg {
    width: 1.75em;
    height: 1.75em;
}