
:root {
    --bs-body-font-family: 'Raleway', sans-serif;
  
}

.mainLogo {
    font-family: 'Caveat', cursive;
}

.page_title {
    text-align: center;
    animation: transitionIn 2s;
}

.colour1 {
    margin-left: 10px; 
    margin-right: 10px;
    border-bottom: 1px solid gray;
}

a:visited, a:link, a:active {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: rgb(150, 149, 149);
}


.btn-outline-success {
    --bs-btn-color: gray;
    --bs-btn-border-color: gray;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: gray;
    --bs-btn-hover-border-color: gray;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: gray;
    --bs-btn-active-border-color: gray;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: gray;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: gray;
    --bs-gradient: none;
}

.logo {
    filter: contrast(30%);
    margin: 20px;
    width: 30;
    height: 30;
}

a:hover .logo {
    filter: contrast(5%);
}

.bg_green{
    background: rgb(220, 95, 95);
    color: white;
    text-align: center;
}

.bg_pink{
    background: rgb(155, 195, 215);
    color: white;
    text-align: center;
}

.bg_grey{
    background: rgb(173, 149, 127);
    color: white;
    text-align: center;
}

.hamburger {
    border: none !important;
}

.bigcenter {
    align-items: center;
}

.welcome {
    display: flex;
}

.overall {
    max-width: 1000px;
    margin: auto;
}

.gamebox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    user-select: none;
    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: black;
}

.games{
    padding: 0px;
    margin: 0px;
    border: 0px solid gray;
    width: 100%;
}

.testbutton{
    cursor: pointer;
    display: inline-block;
    align-items: center;
    text-decoration: none;
    color: white!important;
    background-color: gray;
    padding: .5em 1.25em;
    border-radius: 1rem;
}

.testbutton:hover,
.testbutton:focus {
    background-color: gray;
    color: black;
    transform: scale(1.05);
    box-shadow: 0 5px 5px black;
}

.card {
    border-radius: 1rem;
    transition: transform 500ms ease;
    animation: transitionIn 1s;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 10px black;
}

.embedvideo{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.cardimage{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.homeparagraph {
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%; 
    margin-bottom: 0%; 
    text-align: center;
    background-color: rgb(195, 170, 140);
    border-radius: 1rem;
    border-bottom: 1px solid rgb(32, 32, 32);
}

.hometext {
    padding: 4%;
    font-weight: 500;
    font-size: 100%;
}

.frontParagraph {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 10%;
}

.signature {
    opacity: 80%;
    font-size: 75%;
}

.all {
    animation: transitionIn 2s;
}

.form_area{
    padding-top: 5%;
}

.row.single-form {
    box-shadow: 0 2px 20px -5px rgb(17, 16, 16);
    border-radius: 1rem;
    background: #fff;
}

.left {
    background:rgb(7, 37, 202, 0.75);
    padding: 200px 98px;
    border-radius: 1rem;
}

.left h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    font-weight: 700;
    font-size: 48px;
}

.left h2 span {
    font-weight: 100;
}

.right {
    padding: 70px 100px;
    position: relative;
    border-radius: 1rem;
}

.right i {
    position: absolute;
    font-size: 80px;
    left: -27px;
    right: 40%;
    color: #fff;
}

.form-control {
    border: 2px solid #000;

}

@media (min-width: 768px) and (max-width: 991px){
    .right i{
        top: -52px;
        transform: rotate(90deg);
        left: 50%;
    }
}

@media (max-width: 767px){
    .left{
        padding: 90px 15px;
        text-align: center;
    }
    .left h2{
        font-size: 25px;
    }
    .right{
        padding: 25px;
    }
    .right i{
        top: -52px;
        transform: rotate(90deg);
        left: 45%;
    }
}


@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX('-10deg');
    }
    to {
        opacity: 1;
        transform: rotateX('0');
    }
}
