{% extends 'base.html' %}

{% block title %}About Topher{% endblock %}

{% block body %}
<div class="page_title">
    <h1 class="pagetitle"> About Topher</h1>
</div>

<div class="center_box">
    <div class="row">
        <div class="col-sm-8">col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8col-sm-8</div>
        <div class="col-sm-4">
            <a href="" target="_blank"><img src="{{url_for('static', filename='img/Chris/ChrisStandsTall.jpg')}}" class="" width="100%"/></a>
        </div>
      </div>
</div>

{% endblock %} 