{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block body %}


<div class="form_area">
    <div class="container">
        <div class="row single-form g-0">
            <!---
            <div class="col-sm-12 col-lg-6 middd">
                <div class="left">
                    <h2>
                        <span>Tutoring Requests</span>
                        <br><br>
                        Business Enquiries
                        <br><br>
                        <span>Other stuff...</span>
                    </h2>
                </div>
            </div>
            -->
            <div> <!--  class="col-sm-12 col-lg-6" -->
                <div class="right">
                    <i class="fa fa-caret-left"></i>
                    <form>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label" style="font-weight: 800;">Your Name</label>
                            <input id="name" type="email" class="form-control" id="exampleFormControlInput1" placeholder="John Snow">
                        </div>
                        
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label" style="font-weight: 800;">Email Address</label>
                            <input id="email" type="text" class="form-control" id="exampleFormControlInput1" placeholder="email@example.com">
                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label" style="font-weight: 800;">Subject</label>
                            <input id="subject" type="text" class="form-control" id="exampleFormControlInput1" placeholder="What do you want to talk about?">
                        </div>
                        
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label" style="font-weight: 800;">Your Message</label>
                            <textarea class="form-control" id="message" rows="12" placeholder="What can I help you with?"></textarea>
                        </div>
                        <button type="submit" class="testbutton" style="border: none;" id="btn">Submit</button>
                      </form>
                </div>
            </div>    
        </div>
    </div>
</div>


<script src="https://smtpjs.com/v3/smtp.js"></script>
<script>
    var btn = document.getElementById('btn');
    btn.addEventListener('click', function(e){
        e.preventDefault()
        var name = document.getElementById('name').value;
        var email = document.getElementById('email').value;
        var subject = document.getElementById('subject').value;
        var message = document.getElementById('message').value;
        var body = 'name: ' + name + '<br/> email: ' + email + '<br/> subject: ' + subject + '<br/> message: ' + message;

        if (name == ""){
            alert("Hey! Make sure the name section is filled in! We like to know who we're talking to...");
        }
        else if (email == ""){
            alert("Hey! Please include an email, otherwise we can't respond!");
        }
        else if (message == ""){
            alert("Ummm...did you mean to send a blank message?  We'll give you another chance to fill it out...");
        }
        else {
            Email.send({
                SecureToken : "d3863367-57d0-4eb6-ab66-97333088e2e6",
                To : 'shortt.c@proton.me',
                From : "shortt.c@gmail.com",
                Subject : "contact message",
                Body : body
            }).then(
                message => alert(message)
            );
            document.getElementById('name').value = "";
            document.getElementById('email').value = "";
            document.getElementById('subject').value = "";
            document.getElementById('message').value = "";
        }
    })
</script>

{% endblock %} 