{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}


<div class="center_box">
    <div class="welcome">
        <h1>Welcome. I'm glad you're here.</h1>
    </div>
    <div>
        <img src="{{url_for('static', filename='img/Chris/ChrisCover4.png')}}" width="100%"/>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="{{url_for('static', filename='img/Logos/LinkedInLogo.png')}}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"> Title Stuff </h5>
                    <p class="card-text">a;lkjs as;lkdks;l This isa as s fg;lkahs s e;lkah shfh;alsh eelkhnsfg g sbna;lskh;lkse;lkehgjklhgs;lkhsgsad</p>
                </div>
            </div>
        </div>    
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="{{url_for('static', filename='img/Logos/LinkedInLogo.png')}}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"> Title Stuff </h5>
                    <p class="card-text">a;lkjs as;lkdks;l This isa as s fg;lkahs s e;lkah shfh;alsh eelkhnsfg g sbna;lskh;lkse;lkehgjklhgs;lkhsgsad</p>
                </div>
            </div>
        </div>  
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="{{url_for('static', filename='img/Logos/LinkedInLogo.png')}}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"> Title Stuff </h5>
                    <p class="card-text">a;lkjs as;lkdks;l This isa as s fg;lkahs s e;lkah shfh;alsh eelkhnsfg g sbna;lskh;lkse;lkehgjklhgs;lkhsgsad</p>
                </div>
            </div>
        </div>  
    </div>
</div>

<!--  LIST OF FEATURES OF THE WEBSITE -->
<div class="center_box">
    <div class="row">
        <div class="col-sm-4 bg_green">
            LeetCode Learning
        </div>    
        <div class="col-sm-4 bg_pink">
            Play Games and Explore!
        </div>  
        <div class="col-sm-4 bg_grey">
            Our other apps...
            
        </div>  
    </div>
</div>

{% endblock %} 