{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="page_title">
    <h1 class="pagetitle"> Welcome!</h1>
        <h1 class="pagetitle">We're glad you're here. </h1>
</div>
<br>

<div class="center_box">

    <div class="row">
        <div class="col-sm-6 bg_green">
            Column 1
        </div>    
        <div class="col-sm-6 bg_pink">
            Column 2
        </div>  
        <div class="col-sm-6 bg_brown">
            Column 2
        </div>  
    </div>

</div>

{% endblock %} 