{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block body %}


<!--  Top Page Intro and Photo  -->


<div class="center_box">
    <div class="welcome">
        <h5>Check out our new Run Guy Game Below:</h5>
    </div>

</div>


<!---------------------------  GAME ATTEMPT  ------------------------->

<div class="gamebox">
    <canvas id="game" class="games">
        <!--This is where the runGuy game exists-->
    </canvas>
</div>


<!--  Front Page Paragraph  -->
<div class="center_box" style="margin-top: 5%; margin-bottom: 5%;">
    <p>Squarespace is a website publishing platform that allows anyone to easily create professional blogs, pages, portfolios, and galleries without touching a line of code. The completely inclusive, all-in-one service provides content management, hosting, domains, social integrations, e-commerce, and 24-hour customer support. Start your 14-day free trial today and use offer code THEMUSE for 10% off your subscription.</p>
</div>

<!--  Carousel of LeetCode   -->
<div id="carouselExampleIndicators" class="carousel slide">
    <!--
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    -->
    <div class="carousel-inner" style="overflow: visible;">
        <div class="carousel-item active">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <iframe class="embedvideo" src="https://www.youtube.com/embed/RDbWJ4Kmxhs?si=aF7iPOHEdeG37Ji1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <div class="card-body">
                                <h5 class="card-title"> <a href="https://youtu.be/RDbWJ4Kmxhs?si=K0KnMFxR6EFK6-bM" target="_blank"> 412. Fizz Buzz  </a></h5>
                                <p class="card-text">Fizz Buzz is the classic interview question based on if statements! Created by Imran Ghory in 2007, it was the first ever coding test for interviews.</p>
                                <a href="{{ url_for('pythonleetcode') }}" class="testbutton">Learn More Python LeetCode</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <iframe class="embedvideo" src="https://www.youtube.com/embed/fw6oASo6NA8?si=WbJ7sOdAJTygoTxg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <div class="card-body">
                                <h5 class="card-title"> <a href="https://youtu.be/fw6oASo6NA8?si=XSNJQOLnBRL1jwge" target="_blank"> 704. Binary Search  </a></h5>
                                <p class="card-text">Binary Search is the first search pattern for every coder. A classic searching algorithm that uises a two pointer apprach on a sorted list or other iterable.</p>
                                <a href="{{ url_for('javaleetcode') }}" class="testbutton">Learn More Java LeetCode</a>
                            </div>
                        </div>
                    </div>    
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <iframe class="embedvideo" src="https://www.youtube.com/embed/O3HLCOhE1Hg?si=nJzk1u3ms1lI3Ju2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <div class="card-body">
                                <h5 class="card-title"> <a href="https://youtu.be/O3HLCOhE1Hg?si=nJzk1u3ms1lI3Ju2" target="_blank"> 13. Roman to Integer  </a></h5>
                                <p class="card-text">Roman to Integer is a great way to introduce mapping! This leetcode question mixes data types like integers and strings so the interviewer knows you're capable.</p>
                                <a href="{{ url_for('javascriptleetcode') }}" class="testbutton">Learn More JS Leetcode</a>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <iframe class="embedvideo" src="https://www.youtube.com/embed/9NIHFJWA9QY?si=wbZ2VlCz4GY4X0tA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <div class="card-body">
                                <h5 class="card-title"> <a href="https://youtu.be/9NIHFJWA9QY?si=P7PaajF9eWzDUReN" target="_blank"> 1. Two Sum  </a></h5>
                                <p class="card-text">Roman to Integer is a great way to introduce hashmaps! Frequently, leetcode questions require basic math to 'find' a target value.  This is the first of it's kind!</p>
                                <a href="{{ url_for('pythonleetcode') }}" class="testbutton">Learn More Python Leetcode</a>
                            </div>
                        </div>
                    </div>    
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <iframe class="embedvideo" src="https://www.youtube.com/embed/ZFaxvqkBtVw?si=nVSwNnYO--O4TWNr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <div class="card-body">
                                <h5 class="card-title"> <a href="https://youtu.be/ZFaxvqkBtVw?si=nVSwNnYO--O4TWNr" target="_blank"> 217. Contains Duplicate  </a></h5>
                                <p class="card-text">By using a hash set in java we can determine if there are any repeated numbers in an array of numbers! This one's easy once the logic is explained.</p>
                                <a href="{{ url_for('javaleetcode') }}" class="testbutton">Learn More Java Leetcode</a>
                            </div>
                        </div>
                    </div>  
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <iframe class="embedvideo" src="https://www.youtube.com/embed/yl6kQsPGSbQ?si=yzdMBICjGlQrdGRw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <div class="card-body">
                                <h5 class="card-title"> <a href="https://youtu.be/yl6kQsPGSbQ?si=yzdMBICjGlQrdGRw" target="_blank"> 141. Linked List Cycle </a></h5>
                                <p class="card-text">Linked Lists are a lot of fun when you start to understand how nodes work together.  Check out Linked List Cycle to see how to move pointers throughout a list.</p>
                                <a href="{{ url_for('javascriptleetcode') }}" class="testbutton">Learn More JS Leetcode</a>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <iframe class="embedvideo" src="https://www.youtube.com/embed/N-8SEI7I60Y?si=RpH0UYuiqY_d68ps" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <div class="card-body">
                                <h5 class="card-title"> <a href="https://youtu.be/N-8SEI7I60Y?si=ZmCXrF88aJ1_L86Z" target="_blank"> 387. First Unique Character in a String </a></h5>
                                <p class="card-text">Dealing with strings can be touch and complicated! Lets use the enumerate method to see how to organize our strings. </p>
                                <a href="{{ url_for('pythonleetcode') }}" class="testbutton">Learn More Python Leetcode</a>
                            </div>
                        </div>
                    </div>    
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <iframe class="embedvideo" src="https://www.youtube.com/embed/NqIfPH6iJhU?si=Pbo-p6p9GdFbDtnH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <div class="card-body">
                                <h5 class="card-title"> <a href="https://youtu.be/NqIfPH6iJhU?si=Pbo-p6p9GdFbDtnH" target="_blank"> 766. Toeplitz Matrix  </a></h5>
                                <p class="card-text">Using multiple loops to iterate through a two dimensional matrix can get complicated.  Hopefully this thorough walk-through clears up the tough logic!</p>
                                <a href="{{ url_for('javaleetcode') }}" class="testbutton">Learn More Java Leetcode</a>
                            </div>
                        </div>
                    </div>  
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <iframe class="embedvideo" src="https://www.youtube.com/embed/O3HLCOhE1Hg?si=nJzk1u3ms1lI3Ju2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <div class="card-body">
                                <h5 class="card-title"> <a href="https://youtu.be/O3HLCOhE1Hg?si=nJzk1u3ms1lI3Ju2" target="_blank"> 100. Same Tree  </a></h5>
                                <p class="card-text">Another fantastic structure in programming is a tree!  See how to use recusion in a simple way to quickly solve this comparative question.</p>
                                <a href="{{ url_for('javascriptleetcode') }}" class="testbutton">Learn More JS Leetcode</a>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<!--  LIST OF FEATURES OF THE WEBSITE -->
<div class="center_box">
    <div class="row">
        <div class="col-sm-4 bg_green">
            LeetCode Learning
        </div>    
        <div class="col-sm-4 bg_pink">
            Play Games and Explore!
        </div>  
        <div class="col-sm-4 bg_grey">
            Our other apps...
            
        </div>  
    </div>
</div>


{% endblock %} 