{% extends 'base.html' %}

{% block title %}Wordle Clone{% endblock %}

{% block body %}

<div class="all">



<link rel="stylesheet" href="{{url_for('static',filename='/intervals/intervals.css')}}">

<div class="page_title">
    <br>
    <h1 class="pagetitle"> Intervals!</h1>
    <h8>How far apart are the tones?</h8>
    <br>
</div>


<!--    This is the audio controller to play the Tones    -->
<div class = "audiobody">
    <audio controls>
        <source src="/static/audio/tone1.mp3" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>
    <audio controls>
        <source src="/static/audio/tone2.mp3" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>
</div>

<script src="{{url_for('static',filename='/intervals/intervals.js')}}" defer type="module"></script>
{% endblock %} 