{% extends 'base.html' %}

{% block title %}Wordle Clone{% endblock %}

{% block body %}

<div class="all">



<link rel="stylesheet" href="{{url_for('static',filename='/intervals/intervals.css')}}">


<div class="page_title">
    <br>
    <h1 class="pagetitle"> Intervals!</h1>
    <h8>How far apart are the tones?</h8>
    <br>
</div>


<!--    This is the audio controller to play the Tones    -->
<div class = "audiobody">
    <button type="button" class="btn btn-secondary btn-sm" id="t1b" onclick="playT1()">Tone 1</button>
    <button type="button" class="btn btn-primary btn-lg" id="ttb" onclick="playTt()">Play Together</button>
    <button type="button" class="btn btn-secondary btn-sm" id="t2b" onclick="playT2()">Tone 2</button>
</div>

<div class="container">
    <div class="res">
        <h5>Please make a selection:</h5>
    </div>
    <div class="row">
        <div class="col-6 col-sm-3">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="sameTone">
                <label class="form-check-label" for="flexRadioDefault1">Same Tone</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="halfStep">
                <label class="form-check-label" for="flexRadioDefault1">Half Step</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="wholeStep">
                <label class="form-check-label" for="flexRadioDefault2">Whole Step</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="m3">
                <label class="form-check-label" for="flexRadioDefault1">Minor 3rd</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="M3">
                <label class="form-check-label" for="flexRadioDefault2">Major 3rd</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="p4">
                <label class="form-check-label" for="flexRadioDefault1">Perfect 4th</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="tt">
                <label class="form-check-label" for="flexRadioDefault2">Tritone</label>
            </div>
        </div>

        <div class="col-6 col-sm-3">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="p5">
                <label class="form-check-label" for="flexRadioDefault1">Perfect 5th</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="m6">
                <label class="form-check-label" for="flexRadioDefault2">Minor 6th</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="M6">
                <label class="form-check-label" for="flexRadioDefault1">Major 6th</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="m7">
                <label class="form-check-label" for="flexRadioDefault2">Minor 7th</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="M7">
                <label class="form-check-label" for="flexRadioDefault1">Major 7th</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="octive">
                <label class="form-check-label" for="flexRadioDefault2">Octive</label>
            </div>
        </div>
    </div>
</div>

<br>

<div id ="PRC" class="res">
    <h3 id = "result" class = "result"></h3>
</div>


<div class="container">
    <div class="row">
        <div class="col-6 col-sm-3">
            <button class="btn btn-primary btnSize" id="guess" onclick="guess()">Guess Interval</button>
        </div>
        <div class="col-6 col-sm-3">
            <button class="btn btn-primary btnSize" id="reset" onclick="newInterval()">New Interval</button>
        </div>
    </div>
</div>









<!-- JAVASCRIPT -->
<script>
const tones = [
    'static/audio/C4.mp3',
    'static/audio/Db4.mp3',
    'static/audio/D4.mp3',
    'static/audio/Eb4.mp3',
    'static/audio/E4.mp3',
    'static/audio/F4.mp3',
    'static/audio/Gb4.mp3',
    'static/audio/G4.mp3',
    'static/audio/Ab4.mp3',
    'static/audio/A4.mp3',
    'static/audio/Bb4.mp3',
    'static/audio/B4.mp3',
    'static/audio/C5.mp3'
]

var tone1 = Math.floor(Math.random()*12);
var tone2 = Math.floor(Math.random()*12);

var T1 = new Audio(tones[tone1])
var T2 = new Audio(tones[tone2])

const resultDisplay = document.querySelector('#result');        //Value for the result (using the id)

function playT1() {
    T1.play();
}

function playT2() {
    T2.play();
}

async function playTt() {
    playT1();
    await new Promise(resolve => setTimeout(resolve, 2000));
    playT2();
}

function newInterval() {
    window.location.reload();
}


function guess() {
    var distance = Math.abs(tone1-tone2);
    const nope = [
        "Try again.",
        "That's wrong.",
        "Nope. You picked the wrong one.",
        "Ummm...no.",
        "Nope.  Did you even listen to the tones?",
        "You got it...wrong.",
        "Wrong.  You have chosen...poorly."
    ]

    function wrong(){
        resultDisplay.innerHTML = nope[Math.floor(Math.random()*6)];
    }

    if (distance == 0){
        var tSwitch = document.getElementById("sameTone");
        if (tSwitch.checked){
            resultDisplay.innerHTML = "Correct! They are the same note!";
        }
        else {
            wrong();
        }
    }

    if (distance == 1) {
        var tSwitch = document.getElementById("halfStep");
        if (tSwitch.checked){
            resultDisplay.innerHTML = "Correct! They are a half step apart!";
        }
        else {
            wrong();
        }
    }
    if (distance == 2) {
        var tSwitch = document.getElementById("wholeStep");
        if (tSwitch.checked){
            resultDisplay.innerHTML = "Correct! They are a whole step apart!";
        }
        else {
            wrong();
        }
    }
    if (distance == 3) {
        var tSwitch = document.getElementById("m3");
        if (tSwitch.checked){
            resultDisplay.innerHTML = "Correct! They are a minor third apart!";
        }
        else {
            wrong();
        }
    }
    if (distance == 4) {
        var tSwitch = document.getElementById("M3");
        if (tSwitch.checked){
            resultDisplay.innerHTML = "Correct! They are a major 3rd apart!";
        }
        else {
            wrong();
        }
    }
    if (distance == 5) {
        var tSwitch = document.getElementById("p4");
        if (tSwitch.checked){
            resultDisplay.innerHTML = "Correct! They are a perfect 4th apart!";
        }
        else {
            wrong();
        }
    }
    if (distance == 6) {
        var tSwitch = document.getElementById("tt");
        if (tSwitch.checked){
            resultDisplay.innerHTML = "Correct! They are a tritone apart!";
        }
        else {
            wrong();
        }
    }
    if (distance == 7) {
        var tSwitch = document.getElementById("p5");
        if (tSwitch.checked){
            resultDisplay.innerHTML = "Correct! They are a perfect 5th apart!";
        }
        else {
            wrong();
        }
    }
    if (distance == 8) {
        var tSwitch = document.getElementById("m6");
        if (tSwitch.checked){
            resultDisplay.innerHTML = "Correct! They are a minor 6th apart!";
        }
        else {
            wrong();
        }
    }
    if (distance == 9) {
        var tSwitch = document.getElementById("M6");
        if (tSwitch.checked){
            resultDisplay.innerHTML = "Correct! They are a major 6th apart!";
        }
        else {
            wrong();
        }
    }
    if (distance == 10) {
        var tSwitch = document.getElementById("m7");
        if (tSwitch.checked){
            resultDisplay.innerHTML = "Correct! They are a minor 7th apart!";
        }
        else {
            wrong();
        }
    }
    if (distance == 11) {
        var tSwitch = document.getElementById("sameTone");
        if (tSwitch.checked){
            resultDisplay.innerHTML = "Correct! They are a major 7th apart!";
        }
        else {
            wrong();
        }
    }
    if (distance == 12){
        var tSwitch = document.getElementById("sameTone");
        if (tSwitch.checked){
            resultDisplay.innerHTML = "Correct! They are an octive apart!";
        }
        else {
            wrong();
        }
    }
}

</script>



</div>

{% endblock %} 

