{% extends 'base.html' %}

{% block title %}Wordle Clone{% endblock %}

{% block body %}

<div class="all">



<link rel="stylesheet" href="{{url_for('static',filename='/intervals/intervals.css')}}">


<div class="page_title">
    <br>
    <h1 class="pagetitle"> Intervals!</h1>
    <h8>How far apart are the tones?</h8>
    <br>
</div>


<!--    This is the audio controller to play the Tones    -->
<div class = "audiobody">
    <button type="button" class="btn btn-primary btn-sm" id="t1b" onclick="playT1()">Tone 1</button>
    <button type="button" class="btn btn-primary btn-lg" id="ttb" onclick="playTt()">Play together</button>
    <button type="button" class="btn btn-primary btn-sm" id="t2b" onclick="playT2()">Tone 2</button>
</div>

<div class="container">
    <div class="row">
        <div class="col-6 col-sm-3">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="sameTone" checked>
                <label class="form-check-label" for="flexRadioDefault1">Same Tone</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="halfStep" checked>
                <label class="form-check-label" for="flexRadioDefault1">Half Step</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="wholeStep">
                <label class="form-check-label" for="flexRadioDefault2">Whole Step</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="m3" checked>
                <label class="form-check-label" for="flexRadioDefault1">Minor 3rd</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="M3">
                <label class="form-check-label" for="flexRadioDefault2">Major 3rd</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="p4" checked>
                <label class="form-check-label" for="flexRadioDefault1">Perfect 4th</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="tt">
                <label class="form-check-label" for="flexRadioDefault2">Tritone</label>
            </div>
        </div>

        <div class="col-6 col-sm-3">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="p5" checked>
                <label class="form-check-label" for="flexRadioDefault1">Perfect 5th</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="m6">
                <label class="form-check-label" for="flexRadioDefault2">Minor 6th</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="M6" checked>
                <label class="form-check-label" for="flexRadioDefault1">Major 6th</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="m7">
                <label class="form-check-label" for="flexRadioDefault2">Minor 7th</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="M7" checked>
                <label class="form-check-label" for="flexRadioDefault1">Major 7th</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="octive">
                <label class="form-check-label" for="flexRadioDefault2">Octive</label>
            </div>
        </div>
    </div>
</div>

<br>

<div class="container">
    <div class="row">
        <div class="col-6 col-sm-3">
            <button class="btn btn-primary btnSize" type="submit">Guess Interval</button>
        </div>
        <div class="col-6 col-sm-3">
            <button class="btn btn-primary btnSize" type="submit">New Interval</button>
        </div>
    </div>
</div>









<!-- JAVASCRIPT -->
<script>
var T1 = new Audio('static/audio/tone1.mp3')
var T2 = new Audio('static/audio/tone2.mp3')

function playT1() {
    T1.play();
}

function playTt() {
    T1.play();
    T2.play();
}

function playT2() {
    T2.play();
}
</script>



</div>

{% endblock %} 

