{% extends 'base.html' %}

{% block title %}Rock, Paper, Scissors{% endblock %}

{% block body %}
<div class="page_title">
    <h1 class="pagetitle"> Rock, Paper, Scissors </h1>
</div>

<link rel="stylesheet" href="{{url_for('static',filename='/paperRockScissors/style.css')}}">



<div id = "PRC">
    <h4>Please choose a button below to play!  Can you beat our computer system at Rock, Paper, Scissors?</h4>
    <div id = "choices" class = "choices"></div>
    <br>
    <h3 id = "result" class = "result"></h3>
    <br>
    <h5 id = "score" class = "score"></h5>
    <script src="{{url_for('static',filename='/paperRockScissors/PRC.js')}}" defer type="module"></script>
</div>


{% endblock %} 